@model IQueryable<Exposure.Controllers.Photo>;

@{
    
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
@foreach (Exposure.Controllers.Photo photo in Model)
{ 
    <img src="@photo.Url" alt="@photo.Title" />
}
</article>

<aside>
    <h3>See more photos</h3>
    <p>
        Fusce facilisis ullamcorper consequat. Vestibulum non sapien lectus. Nam 
        mi augue, posuere at tempus vel, dignissim vitae nulla.
    </p>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
</aside>